# منفذ الخادم
PORT=5000

# بيئة التشغيل: development | production
NODE_ENV=development

# رابط الواجهة الأمامية (لـ CORS)
CLIENT_URL=http://localhost:5173

# Cloudinary
CLOUDINARY_CLOUD_NAME="xzes6njn"
CLOUDINARY_API_KEY="391898534446971"
CLOUDINARY_API_SECRET="ZtCtO1oaZKtRkT4gfuYew9DtkIo"